/* Google fonts for styling */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}


nav {
    background-color: #272424;
    color: #fff;
    height: 65px;
}

nav h1 {
    margin-left: 18px;
    padding: 0;
    font-size: 30px;
 line-height: 65px;
    font-family: 'Baloo Bhaina 2', cursive;
}


.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;
    margin: 90px auto;


}

#container1 {
    height: 50vh;
    width: 400px;
   



}

#container2 {
    height: 50vh;
    width: 400px;
}

.space {
    padding: 20px;
}

.drop-container {
    width: 200px;
    padding: 10px;

    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 30px;
    outline: 4px dashed #aaa;
    transition: border-color 0.3s ease;
}

.drop-container.dragging-over {
    border-color: #aaa;
}

p#text1.draggable-item {

    width: 100px;
    height: 40px;
    font-size: 19px;
}

.draggable-item {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
    margin: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.draggable-item.dragging {
    transform: scale(1.1);
}


#success-message {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 500;
    color: green;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;

}


button {
    margin-top: 10px;

}

#reset-button {

    display: block;
    cursor: pointer;
    margin: -57px auto;
    font-size: 29px;
    font-family: Times New Roman;
    width: 150px;
    height: 50px;
    border-width: 1px;
    color: #fff;
    border-color: #599bb3;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 11px 14px -7px #276873;
    text-shadow: 0px 1px 30px #3d768a;
    background: #2991b7;
}
/* Animation */
@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#add-items-message {
    display: block;
    text-align: center;
    margin-top: 120px;
    color: green;
    animation: bounce 1.5s infinite;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h2 {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 32px;
    

}

/*Responsive*/

/* for screen less then 720px */

@media (max-width: 720px) {

    #container1,
    #container2 {
        margin: 18px auto;
        height: 50vh;
        width: 270px;
        
        

    }
    .container{
        margin: 30px auto;
    }
    

    #reset-button {
        margin-top: 20px;
    }
}

/* for screen less then 610px */
@media (max-width: 610px) {

    #container1,
    #container2 {
        margin: 20px auto;
        padding: auto;

        width: 40%;
        max-width: 270px;

    }

    h2 {
        font-size: 18px;
    }

    nav h1 {
        font-size: 18px;
    }



}
/* for screen less then 430px */
@media (max-width: 430px) {

    #container1,
    #container2 {
        margin: auto;
        padding: auto;

        width: 40%;
        max-width: 270px;

    }
    .draggable-item{
        height: 60px;
        width: 60px;
    }
    .drop-container{
        outline: 2px dashed #aaa;

    }
    #success-message{
        font-size: 13px;
    }

    h2 {
        font-size: 18px;
    }

    nav h1 {
        font-size: 20px;
    }
    nav{
        height:50px;
    }
    p{
        font-size: 15px;
    }



}
/* To make mobile instructions appear only in mobile devices */

@media (max-width: 930px) {
    .mobile-instructions {
    
      text-align: center;
      margin-top: 20px;
      font-size: 19px;
      font: 500;
      color: red;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   
  
    .container {
      margin-top: 40px;
    }
  }
  @media (min-width: 930px) {
    .mobile-instructions {
      display: none;
    }
  }
  

